.header-form {
    table {
        img {
            background-position: center center;
            background-repeat: no-repeat;
            width: 10rem;
            height: 2rem;
            background-size: cover;
        }

        tr {
            text-align: center;
            vertical-align: middle;
        }
    }
}