.admin-page {
    .title-admin {
        padding-top: 1rem;
        color: blue;
        margin-bottom: 40px;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        line-height: normal;
    }
}