  .dropdown {
      .highlight {
          background: linear-gradient(#fad305, #fd0, #fd0, #fad305);
          border-radius: 5px;
          text-align: center;
          padding: .375rem .75rem;
          border: 1px solid transparent;
      }
  }

  // .dropdown .shopping 4x2 8 point

  .bg-header {
      min-height: 80px;
      background: #e61f20;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      font-size: 1.1rem;
      background-size: 110px 70px;

      .sticky-top {
          box-shadow: 0 1px 5px #000;
      }

      .navbar {
          background-color: transparent !important;
          font-family: "myb", Tahoma, Geneva, sans-serif;
          padding: .5rem 1rem;
          min-height: 80px;
          align-items: center;
          //

          .navbar-brand {
              font-size: 1.25rem;
              width: 30%;
              margin-right: 1rem;
              padding-top: .3125rem;
              padding-bottom: .3125rem;
              //

              img {
                  height: auto;
                  max-height: 5rem;
                  max-width: 100%;
                  width: 300px;
                  //
              }
          }

          .navbar-toggler {}

          .navbar-collapse {
              .nav-link {
                  color: #fff !important;
              }

              // .shopping {
              //     background: linear-gradient(#fad305, #fd0, #fd0, #fad305);
              //     border-radius: 5px;
              //     text-align: center;
              //     padding: .375rem .75rem;
              //     border: 1px solid transparent;
              // } // .header .navbar .navbar-collapse .shopping 4x4 point

              .sl-lan {
                  border: none !important;
                  outline: none !important;
                  background: transparent !important;
              }

              @media screen and (min-width: 1200px) {
                  .sl-lan {
                      border: none;
                  }
              }
          }
      }
  }

  @media screen and (max-width: 1199px) {
      .bg-header {
          background-size: 130px 80px;
      }
  }