.customer-form {
    background-color: red;
    width: 100%;
    padding: 10px 15px 15px 40px;

    label {
        color: white
    }

    Select {
        border-left: none;
    }

    .form-control {
        height: 44px;
    }
}