    .card {
        // width: 30%;
        background: transparent !important;
        border: none !important;

        .card-header {
            width: 100%;
            background-color: red;
            color: yellow;
            border-top: 1px solid #fff;
            text-transform: uppercase;
        }

        .card-body {
            width: 100%;
            background-color: #ffdd15;
            color: #4f4e4b;
            padding-bottom: .25rem;

            .prize {
                font-size: 20px;
                margin-top: 0 !important;
                font-weight: 600;

                .sell {
                    text-align: right;
                }

                .select-number {
                    margin-bottom: 20px;
                    font-weight: 100;
                    font-size: 1rem;
                }
            }
        }
    }