@import url('https://fonts.googleapis.com/css?family=Dax: regular, bold, italic&');

body {
    font-family: "Dax" !important;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 14px !important;
    color: #696969;
}