.body {
    font-family: "Dax" !important;
    font-size: 14px;
    color: #696969;
    //

    padding-top: 10px;
    background: url('../../../assets/Background/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;

    .main-content-container {
        margin-top: 20px;

    }

    .img-container {
        height: auto;

        position: absolute;
        bottom: 0;

        img {
            height: auto;
        }
    }
}