.headerwhite01 {
    .content {
        margin-left: 5rem;

        .cart-headerlogo {
            position: relative;
            height: 50px;
            display: flex;
            align-items: center;
        }
    }
}